.main-nav {
  color: white;
  text-decoration: none;
}

.main-nav:hover {
  color: black !important;
  text-decoration: none;
}

.active {
  color: #000;
  text-decoration: none;
}
.active:hover {
  color: black !important;
  text-decoration: none;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
}

.sideNav {
  list-style-type: none;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.content {
  margin-left: 30%;
}
